/* Primary styling constants*/

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

/* Main heading */

.top, .designed {
  color: white;
  background-image: url("../images/the-flatiron-building.png"); /*covers background image of Designed in New York section*/
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  font-size: 18px;
  color: white; /* Also covers link color in footer*/
}

/* Our Process section */

#about {
  font-size: 32px;
  font-weight: bold;
}

.description {
  font-size: 14px;
}

.title {
  font-size: 23px;
  font-weight: bold;
}

/* Footer */

.copyright {
  font-size: 11px;
}

.footer {
  background-color: dimgray;
  text-align: left;
}
